results/
preprocessing/
.ipynb_checkpoints/
__pycache__/
**/configs
**/yolov5_models
**/images

test.ipynb
**/lsc.ipynb
**/*.joblib
**/*.sh

.idea/

images/
outputs/
groups/
.DS_STORE
**/move_files.py
